/* 点餐标题主体头部 */
.L_diancan_main_wrap{
    float: right;
    width: 5.6rem;
    /* background: #f07373; */
    margin-bottom: .2rem;
    padding-bottom: 2rem;
}
.L_diancanmain_header{       
    border-bottom:1px solid #f2f2f2;
    height: .6rem;
    color: #999999;
    font-size: .2rem;     
}
.L_diancanmain_header h3{
    color:#666666;
    font-size:.26rem;
    line-height: .6rem;
    /* width: 1.1rem; */
    display: inline-block;
}
.L_diancanmain_header span{
    display: inline-block;
    height: .6rem;
    line-height: .5rem;
}
/* L_price_img1 */
/* 餐品列表 */
.L_diancan_list{
  margin: .23rem 0 0 0; 
  clear: both;  
  height: 2.2rem;  
  /* background: pink; */
  /* margin-bottom: .1rem;  */
}
.L_diancan_list_img{
    /* vertical-align: middle; */
    width: 1.54rem;
    height: 1.54rem;
    margin: .15rem .21rem 0 0;
    border-radius: .05rem;  
    float: left;    
}
.L_diancan_list_img img{
    width: 100%;
    height: 100%;
}
.L_diancan_list>h3{
    /* float: left; */
    /* height: .4rem; */
    /* line-height: .4rem; */
    color: #333333;
    font-size: .3rem;
}
.L_diancan_list>p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 3.7rem;
    float: right;
    display: block;
    font-style: normal;
    font-family: 宋体;
    color: #666;
    margin: .08rem .15rem 0 0;
    
}
.L_diancan_list>span{
    height: .49rem;
    line-height: .49rem;
    color: #2c2a2a;
    font-size: .2rem;
}
.L_diancan_list>span:first-child{
    margin: 0 .15rem 0 0;
}
.L_zhekou{
    /* width: 2rem;
    height: .26rem; */
    width: 2.3rem;
    height: .3rem;
    background: url(../img/L_img/Zhekou.jpg);
    background-size: 100% 100%;
    float: left;

}
.L_zhekou span{
    color: white;
    font-size: .18rem;
    line-height: .3rem;
    height: .3rem;  
    float: left; 
    text-align: center;      
}
.L_zhekou span:last-child{
    color: #f07373;   
    float: right;
}
.L_price{
    float: right;
    height: .52rem;
    line-height: .52rem;
    width: 3.85rem;
}
.L_price h3{
    width: 1.5rem;
    font-size: .3rem;
    float: left;
    color: #ff6600;
}
.L_price h3 i{
    font-style:normal;
    font-size: .16rem;
}


.l_price_div{
    width: 1.5rem;
    height: .52rem;
    line-height: .4rem;
    float: right;
    margin-right: .4rem;
    position: relative;
    text-align: center;
}
.L_price_span{
    float: right;
    margin-left: .05rem;
    font-size: .12rem;
    color: #666666;
    text-decoration: line-through;
}
.L_price img{
    width: .4rem;
    height: .4rem;
}
.L_price_img1{
    position: absolute;
    left: 0;
    top:0;
}
.L_price_img2{
    position: absolute;
    right: 0;
    top:0;
}

