.z_findinfo{
    width: 7.5rem;
    /* height: 0.9rem; */
}

.z_find_head{
    width: 100%;
    height: 0.9rem;
}

.z_find_header{
    background-color: #00a0ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0.9rem;
    line-height: 0.9rem;
}

.z_find_header>h2{
    font-size: 0.32rem;
    text-align: center;
    color: #fff;
}

.z_find_header>h2>span{
    float: left;
    margin-left: 0.33rem;
    margin-top: 0.27rem;
    width: 0.2rem;
    height: 0.3rem;
    background: url(../img//z_find_img/left.gif) no-repeat left center;
}

.z_nav{
    width: 100%;
    height: 4.78rem;
}

.z_nav_left{
    float: left;
    width: 3.74rem;
    height: 4.78rem;
    border-right: 0.01rem solid #ededed;
}

.z_nav_right{
    float: right;
    width: 3.74rem;
    height: 4.78rem;
}

.z_nav_left_top{
    height: 3.19rem;
    border-bottom: 0.01rem solid #ededed;
}
.z_nav_left_top>img{
    width: 3.74rem;
    height: 3.19rem;
}

.z_nav_right_top>img{
    width: 3.74rem;
    height: 1.59rem;
}

.z_nav_right_center>img{
    width: 3.74rem;
    height: 1.59rem;
}

.z_nav_right_bottom>img{
    width: 3.74rem;
    height: 1.59rem;
}

.z_nav_left_bottom>img{
    width: 3.74rem;
    height: 1.59rem;
}


.z_banner{
    width: 100%;
    height: 2.28rem;
    background: #f5f5f5;
    border-top: 0.02rem solid #ededed;
    border-bottom: 0.02rem solid #ededed;
}

.z_banner>img{
    width: 7.5rem;
    height: 1.8rem;
    padding-top: 0.28rem;
}